body{
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.096);
}


.container{
    width: 1000px;
    height: auto;
    background-color:white;
    margin: auto;
}

.logo{

    float: left;
    padding: 15px;
}
.search{
    float: right;
    padding: 15px;
}
.clearfix{
    clear: both;
}
.main-menu{
    background-color: green;
}
.main-menu > ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.main-menu > ul >li{
    display: inline-block;
}
.main-menu > ul >li >a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: sans-serif;
    font-size: small;
}
.main-menu > ul >li >a:hover{
    background-color: orange;
}
/*drop    */
.drop{

    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    display: none;
    z-index: 999;
}
.drop >li >a{

    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: sans-serif;
    font-size: small;
    background-color: black;
}
.drop >li >a:hover{
    background-color: orange;
}

.main-menu > ul >li:hover .drop{
    display: block;
}
/* banner*/
.banner{

    width: 1000px;
    height: 403px;
    overflow: hidden;
}
.banner img{
    width: 100%;
    height: auto;
}
footer >p{
    width: 1000px;
    margin: auto;
}
/*Content holder*/
.content-holder{

        background-color: royalblue;
}
.content{
    width: 700px;
    height: auto;
    padding: 25px;
    background-color: white;
    float: left;
}
.content h1{
    font-size: 1.5em;
    font-family: sans-serif;
}
.content p{
    font-family: sans-serif;
    font-size: small;
}
.sidebar{
    float: left;
    padding: 25px;
}
.sidebar h3{
    font-family: sans-serif;
    color: white;

}
.sidebar ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;   
}
.sidebar ul > li > a{
    display: block;
    margin-bottom: 5px;
    color: white;
    font-family: serif;
    font-style: italic;
    text-decoration: none;
}
.main-footer{
    background-color: black;
    color: white;
    width: 950px;
    height: auto;
    padding: 25px;
}
.footer-box{

    width: 237.5px;
    height: auto;
    float: left;
    font-family: sans-serif;
}
footer{
    margin: auto;
}
.footer-box > ul{
    list-style: none;
margin: 0px;
padding: 0px;
}
.footer-box > ul > li >a{
    display: block;
    font-size: small;
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
}

.footer-box address  a{
    color: teal;
    font-size: small;
}
.bottom{
    text-align: center;
    font-family: sans-serif;
    background-color: crimson;
    color: white;
    
}
.bottom p{
    margin: 0px;
}