#box{
    height: auto;
    width: 500px;
}
.box-text{
    color: gray;
    font-style: italic;
}
div#box >.simple-text{
 
    color: red;
}
div#box >p>span{
    font-weight: bold;
    color: black;
}
